################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterviewTask/.vs/*
/InterviewTask/bin/*
/InterviewTask/obj/*
